@model TransactionViewModel
@{
    ViewData["Transaction"] = "Deposit";
}
    <div class="row justify-content-md-center">
        <div class="card" style="width: 50%;">
            <div class="card-header bg-dark text-light">
                <h3>
                    Deposit to Account @Model.AccountId
                </h3>
            </div>
            <div class="card-body bg-light">
                <form asp-action="Deposit" asp-route-id="@Model.AccountId" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="AccountId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Amount" class="col-form-label"></label>
                        <input asp-for="Amount" class="form-control shadow-none" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-dark" />
                    </div>
                </form>
                <div>
                    <a asp-action="AccountDetails" asp-controller="Account" asp-route-id="@Model.AccountId" class="text-dark">Back to List</a>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}