@{
    ViewData["Title"] = "Privacy Policy";
}

    <div class="text-center">
        <h1>Welcome to Nackademin Bank</h1><br />
        <h4>Nackademin Bank - Tomtebodavägen 3a - 171 65 Solna</h4><br />
        <h4>Tel: 08-123-456</h4>

    </div>
